img{
    width: 100px;
}
.carousel .slide{
    width: 18rem;    
}
.container{
    /* display: inline-block; */
}
.card-group{
    /* padding: 20px; */
}
.row{
    /* padding: 0; */

    margin: 0px 0px 10px 0px;
}